@charset "utf-8";

* {
    margin: 0px;
    padding: 0px;
}
/* #wrap {
    width: 960px;
    height: 500px;
    margin: 0 auto;
    background: #c45de6;
    border: 4px solid #000;
} */

#wrap {
    width: 90%;
    height: 500px;
    margin: 0 auto;
    background: #c45de6;
    border: 4px solid #000;
}